@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,500;0,600;1,500;1,600');

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 380px;
  background-color: white;
}

.hero-image {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.page-inner {
  padding-top: 360px !important;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size:32pt; 
  line-height: 110%;
}

h1 {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 600;
  color: black;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size:2em; 
  line-height: 110%;
}

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -15px; 
  height: 15px; 
  visibility: hidden; 
  pointer-events: none;
}

h2 {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 600;
  color: black;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size:1.75em; 
  line-height: 110%;
}

h3 {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 600; 
  color: black;
}

.book.font-family-1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

mark {
  font-weight: bold;
}

li {
  font-size: 12pt;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  white-space: normal;
}

div.example {
  padding: 1em;
  margin: 1em 0;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #000000;
  background-color: #f6fce8;
  border: solid 5px #619100;
  border-radius: 5px;
}